:root {
    --FONT-STACK-HEADING: "Futura", serif!important;
}

.header__wrapper .aos-initialized [data-aos^=fade][data-aos^=fade].aos-animate {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* For Safari support */
    background-color: #0000000f;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .article__author-bio h3, .blog-section .article__image .article__tags {

    letter-spacing: 0.1em!important;
}

.product__block subtitle {
    opacity: 0.6;
}


.sold-as-count {
    display: inline-block;
  margin-right:5px;
  margin-bottom:5px;
    font-size: var(--font-body-x-small);
    color: var(--BTN-PRIMARY-TEXT);
    background-color: var(--BTN-SECONDARY-BG);
    width: fit-content;
    padding: 10px 15px;
}
  
.navlink--grandchild {
    text-transform: none;
    letter-spacing: 0px!important;
}

body:has(.main-content>.shopify-section.section-overlay-header:first-of-type):not(:has([data-prevent-transparent-header])) [data-header-transparent]:not(.meganav--visible):not(.js__header__stuck) .theme__header.has-border {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (min-width: 990px) {
    .grid--slider {
        --item-width: calc((70vw - var(--scrollbar-width) - var(--outer)* 2)* .28)!important;
    }
}

.navlink--cart--icon .header__cart__status {
    color: white!important;
}

.product-item__title, .cart__item__title {
margin-block: 5px;
  letter-spacing:0px!important;
font-size: calc( var(--FONT-SIZE-BASE) * 1)!important;
    margin-top:5px;
  text-transform:none!important;
}

.product-link subtitle {
    opacity: 0.5;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 4px;
  text-transform:none;
  letter-spacing:0px;
}

.product__title *, .product-upsell__title {
    text-transform: none!important;
    letter-spacing: 0px
}


.product-item__info.body-small {
  padding-left: 0px;
  padding-right: 0;
}
@media only screen and (max-width: 749px) {
  .grid--mobile-slider .grid-item {
    width: calc(75% - 50px);
  }
}
@media only screen and (min-width: 750px) {
  .supports-touch .quick-add__holder,
  .supports-touch hover-images:after {
    display: none;
  }
}
.supports-touch hover-images:after {
  bottom: -1px !important;
}


@media only screen and (max-width: 749px) {
    .grid--mobile-slider {
       margin-left:0px;
    }
}

.radio__legend__link {
    padding-bottom: 0px;
    bottom: -2px;
    display: block;
    position: relative;
}